.counterButton{
    font-size: 15px;
    background-color: rgb(78, 78, 251);
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.count{
    font-size: 150px;
    padding: 20px;
}

.totalCount{
    color: rebeccapurple;
    font-size: 150px;
    padding: 20px;
}